:root {
    /* FONTS */
    --ff-serif: "Playfair Display", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --ff-sans-serif: "Raleway", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    --ff-num: "Merriweather", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* REFERENCE BORDER */
    --ref-border: 3px solid rgba(199, 0, 0, 0);

    /* COLORS */
    --clr-dark: hsl(210, 40%, 5%); 
    --clr-base: hsl(210, 70%, 25%); 
    --clr-accent: hsl(10, 65%, 60%); 
    --clr-light: hsl(210, 10%, 85%);


    --lin-grad: linear-gradient(155deg, var(--clr-accent), var(--clr-base));
    --rad-grad: radial-gradient(hsl(10, 55%, 60%), hsl(210, 70%, 25%));
    
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    display: block;
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 15px;

    font-family: var(--ff-serif);
    font-weight: 800;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

h2 {
    margin-bottom: 30px;

    font-family: var(--ff-serif);
    font-weight: 800;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;

    color: var(--clr-base);
}



h3 {
    font-size: 1.4rem;
    text-transform: capitalize;
    padding: 30px 0 10px;
}

h4 {
    margin-bottom: 30px;
}


p {
    font-family: var(--ff-sans-serif);
    font-size: 1.2rem;
    line-height: 1.5;
}

nav li {
    display: inline-flex;
    flex-direction: row;
    margin-top: 20px;
}

li a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    background-color: var(--clr-base);
    opacity: 0.8;
    padding: 15px;
    border-radius: 25px;
    font-family: var(--ff-sans-serif);
    font-weight: 600;
}

li a:hover {
    background-color: var(--clr-accent);
    opacity: 1;
    color: var(--clr-light);
    font-weight: 800;
}


/* SECITON DIVIDER */ 

h2[id="color-palettes"]::before {
    display: none;
}

h2[id="color-palettes"]{    
    margin-top: 20px;
}

h2::before{
    display: block;
    content: "";
    position: relative;
    height: 6px;
    width: 100%;
    margin: 20px auto;

    border-radius: 3px;
    background-color: var(--clr-accent);
    opacity: 0.6;
}

.main-container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;   
    

    border: var(--ref-border);
}

.container {
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    justify-content: center;    
}

/* SPECIFIC TEXT STYLING */ 
.uppercase {
    font-family: var(--ff-sans-serif);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.attn {
    font-weight: 900;
    color: var(--clr-accent);
}

.lighter-text {
    font-weight: lighter;
}


#banner {
    background-image: linear-gradient(155deg, var(--clr-accent) 10%, var(--clr-base) 90%);
    text-align: center;
    color: var(--clr-light);
    padding-bottom: 80px;
    margin-bottom: 30px;
}


/* COLOR PALETTES */



.two-color-boxes {
    display: inline-flex;
    flex-wrap: wrap;
}

.color-box {
    width: 200px;
    height: 200px;
    border-radius: 6px;
    margin: 0 10px 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 1.2rem;
    font-family: var(--ff-sans-serif);
    text-transform: capitalize;
    text-align: center;

    border: 1px solid var(--clr-dark);
}

.color-code {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: var(--ff-num);
    /* font-style: italic; */
}

.color-palette-name {
    width: 100%;
    color: var(--clr-base);
    text-align: center;
    margin-bottom: 10px;
}

[id*="-1"], [id*="-2"] {
    color: var(--clr-light);
}

/* COLOR CODES */ 
#grayscale-1 {
    background-color: hsl(0, 0%, 5%);
}
#grayscale-2 {
    background-color: hsl(0, 0%, 30%);
}
#grayscale-3 {
    background-color: hsl(0, 0%, 60%);
}
#grayscale-4 {
    background-color: hsl(0, 0%, 85%);
}
#nightfall-1 {
    background-color: hsl(210, 40%, 5%);
}
#nightfall-2 {
    background-color: hsl(210, 70%, 25%);
}
#nightfall-3 {
    background-color: hsl(5, 65%, 60%);
}
#nightfall-4 {
    background-color: hsl(210, 10%, 85%);
}
#bonfire-1 {
    background-color: hsl(30, 10%, 10%); 
}
#bonfire-2 {
    background-color: hsl(15, 50%, 25%);
}
#bonfire-3 {
    background-color: hsl(15, 80%, 50%)
}
#bonfire-4 {
    background-color: hsl(40, 50%, 90%);
}
#aquarium-1 {
    background-color: hsl(240, 30%, 15%);
}
#aquarium-2 {
    background-color: hsl(210, 50%, 45%);
}
#aquarium-3 {
    background-color: hsl(180, 50%, 65%);
}
#aquarium-4 {
    background-color: hsl(180, 30%, 85%);
}



/* FONTS */
.font-box {
    width: 410px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-content: center;

    
    color: var(--clr-dark);

    border: 1px solid var(--clr-dark);
    /* border: var(--ref-border); */
}
.font-box p {
    color: var(--clr-dark);
}

.font-box a {
    padding: 10px;
    
    text-decoration: none;
    text-transform: capitalize;
    background-color: var(--clr-base);
    opacity: 0.8;
    color: var(--clr-light);
    font-weight: 600;

    border: 3px solid var(--clr-base);
    border-radius: 25px;
}

.font-box a:hover {
    opacity: 1;
}



.font-name {
    width: 250px;
    height: 40px;
    margin: 10px auto 20px auto;
    padding-top: 10px;
    padding-bottom: 40px;
    
    
    text-align: center;
    border-radius: 30px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 600 ;
}
 

.playfair-display {
    font-family: "Playfair Display";
    font-size: 1.1rem;
}

.cormorant {
    font-family: "Cormorant";
    font-size: 1.3rem;
}

.raleway {
    font-family: "Raleway";
    font-size: 1.1rem;
}

.noto-sans-display {
    font-family: "Noto Sans Display";
    font-size: 1.1rem;
}