/*
1.  GLOBAL
2.  TAGS
3.  SECTION DIVIDER
4.  POSITIONING - GENERAL
5.  TEXT & BACKGROUND STYLING - SPECIFIC
6.  COLOR PALETTES
7.  FONTS
8.  TEXT STYLES
9.  COLOR CODES
10. SPECIFIC FONTS
*/


/* 1. GLOBAL */
:root {
    /* FONTS */
    --ff-serif: "Playfair Display", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --ff-sans-serif: "Raleway", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    --ff-num: "Merriweather", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    /* REFERENCE BORDER */
    --ref-border: 1px solid rgb(199, 0, 0);

    /* BUTTON BORDER */ 
    --btn-border: 1px solid var(--clr-light);

    /* COLORS */
    --clr-dark:   hsl(210, 40%, 5%); 
    --clr-base:   hsl(210, 70%, 25%); 
    --clr-accent: hsl(5, 65%, 60%); 
    --clr-light:  hsl(5, 10%, 85%);    
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* 2. TAGS*/
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--ff-sans-serif)
}

h1 {
    display: block;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 15px;

    font-family: var(--ff-serif);
    font-weight: 800;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    /* text-shadow: 0 0 4px hsla(0, 0%, 100%, 0.7); */
}

h2 { /* CHECK SECTION DIVIDER FOR PSEUDO-ELEMENTS */ 
    margin-bottom: 10px;

    color: var(--clr-base);

    font-family: var(--ff-serif);
    font-weight: 800;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;    
}

h3 {
    margin-top: 10px;
    font-size: 1.4rem;
    text-transform: capitalize;
}

h4 {
    margin-bottom: 30px;
}

p, li {
    font-family: var(--ff-sans-serif);
    font-size: 1.2rem;
    line-height: 1.5;
}

nav ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav li {
    list-style: none;
    margin: 30px 5px; 
}
li a {
    padding: 15px;
    border-radius: 25px; 

    color: hsl(0, 0%, 100%);
    background-color: var(--clr-base);
    opacity: 0.8;

    font-weight: 600;
    text-decoration: none;
}

li a:hover {
    opacity: 1; 
    font-weight: 900;
    cursor: pointer;   
}

footer {
    padding: 40px 0;
    
    color:hsl(0, 0%, 100%);
    background-image: linear-gradient(155deg, var(--clr-accent) 10%, var(--clr-base) 90%);;
    text-align: center;
    
    text-shadow: 0 0 4px hsla(0, 0%, 100%, 0.7);
}

footer a {
    position: relative;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

footer a::before {
    content: attr(data-tool-tip);
    position: absolute;
    bottom: 0;
    right: -7px;
    display: block;

    width: 150px;
    padding: 5px 10px;

    background-color: var(--clr-accent);
    color:hsl(0, 0%, 100%);
    border: var(--btn-border);
    border-radius: 5px;

    
    font-size: .9rem;
    font-weight: 600;
    transform: scale(0);
    transition: 
        transform ease-out 150ms,
        bottom ease-out 150ms;
}

footer a:hover::before {
    transform: scale(1);
    bottom: 110%;
    cursor: pointer;
}

footer a::after {
    content: " \279A";
}



/* 3. SECITON DIVIDER */ 
h2[id="color-palettes"]::before {
    display: none;
}

h2[id="color-palettes"]{    
    margin-top: 20px;
}

h2::before{
    display: block;
    content: "";

    position: relative;
    height: 6px;
    width: 100%;
    margin: 20px auto;
    border-radius: 3px;
    
    background-color: var(--clr-accent);
    opacity: 0.6;
}



/* 4. POSITIONING - GENERAL */ 
.main-container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    flex-direction: column;   
    
    /* border: var(--ref-border); */
}

.container-rows {
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    justify-content: center;    
}

.container-columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



/* 5. SPECIFIC TEXT & BACKGROUND STYLING */ 
.uppercase {
    font-family: var(--ff-sans-serif);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.attn {
    font-weight: 900;
    color: var(--clr-accent);
}

.lighter-text {
    font-weight: lighter;
}

.font-type {
    margin: 15px 0;
}

#banner {
    background-image: linear-gradient(155deg, var(--clr-accent) 10%, var(--clr-base) 90%);
    text-align: center;
    color: var(--clr-light);
    padding-bottom: 60px;
    margin-bottom: 30px;
}

#banner h1, #banner p {
    text-shadow: 0 0 4px hsla(0, 0%, 100%, 0.7);
}



/* 6. COLOR PALETTES */
.two-color-boxes {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-box {
    width: 180px;
    height: 150px;
    border-radius: 6px;
    margin: 0 5px 30px;
    border: 1px solid var(--clr-dark);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 1.2rem;
    font-family: var(--ff-sans-serif);
    text-transform: capitalize;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .color-box {
        width: 150px;
    }
}

.color-code {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: var(--ff-num);
}

.color-palette-name {
    width: 100%;
    color: var(--clr-base);
    text-align: center;
    margin: 10px 0 20px;

}

[id*="-1"], [id*="-2"] {
    color: var(--clr-light);
}



/* 7. FONTS */
.font-box {
    width: 410px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-content: center;

    
    color: var(--clr-dark);

    border: 1px solid var(--clr-dark);
    /* border: var(--ref-border); */
}
.font-box p {
    color: var(--clr-dark);
}

.font-box a {
    padding: 10px;
    
    text-decoration: none;
    text-transform: capitalize;
    background-color: var(--clr-base);
    opacity: 0.8;
    color: var(--clr-light);
    font-weight: 600;

    border: 3px solid var(--clr-base);
    border-radius: 25px;
}

.font-box a:hover {
    font-weight: 900;
    color: hsl(0, 0%, 100%);
    background-color: var(--clr-accent);
    border: 3px solid var(--clr-accent);
    opacity: .8;
    cursor: pointer;
}

.font-name {
    width: 250px;
    height: 40px;
    margin: 10px auto 20px auto;
    padding-top: 10px;
    padding-bottom: 40px;
        
    text-align: center;
    border-radius: 30px;
}



/* 8. TEXT STYLES*/
.grid-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 620px;
    column-gap: 5%;
    justify-items: center;
}

@media screen and (max-width: 800px) {
    .grid-cont {
        grid-template-columns: none;
        justify-items: start;
    }
}
.styles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;

    margin-bottom: 50px;

    /* border: var(--ref-border); */
}

.flex-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}



.style-box {
    min-width: 300px;
    border: none;

    /* border: var(--ref-border); */
}

.style-properties li {
    list-style: none;
}

#remarks {
    min-width: 300px;
    flex-direction: column;
}

#remarks h3 {
    font-size: 2rem;
    color: hsl(5, 65%, 60%);
    margin-top: 0;
}

#remarks ul {
    margin-bottom: 30px;
}

#remarks li {
    list-style: none;
}

#remarks li::before {    
    content: "\2022";
    margin-right: 10px;
    font-weight: 900;   
}


#heading1 {
    font-family: var(--ff-serif);
    font-size: 4rem;
    color: var(--clr-accent);
    padding-top: 0;
    margin-top: 0;
}

#heading2 {
    font-family: var(--ff-serif);
    font-size: 3rem;
    color: var(--clr-base);
}

#heading3 {
    font-family: var(--ff-sans-serif);
    font-size: 2rem;
    color: var(--clr-base);
}

#paragraph {
    font-family: var(--ff-sans-serif);
    font-size: 1.2rem;
    color: var(--clr-dark);
    font-weight: 400;
}

/* 9. COLOR CODES */ 
#grayscale-1 {
    background-color: hsl(0, 0%, 5%);
}
#grayscale-2 {
    background-color: hsl(0, 0%, 30%);
}
#grayscale-3 {
    background-color: hsl(0, 0%, 60%);
}
#grayscale-4 {
    background-color: hsl(0, 0%, 85%);
}
#nightfall-1 {
    background-color: hsl(210, 40%, 5%);
}
#nightfall-2 {
    background-color: hsl(210, 70%, 25%);
}
#nightfall-3 {
    background-color: hsl(5, 65%, 60%);
}
#nightfall-4 {
    background-color: hsl(210, 10%, 85%);
}
/* REMOVED COLOR PALETTES
#bonfire-1 {
    background-color: hsl(30, 10%, 10%); 
}
#bonfire-2 {
    background-color: hsl(15, 50%, 25%);
}
#bonfire-3 {
    background-color: hsl(15, 80%, 50%);
}
#bonfire-4 {
    background-color: hsl(30, 50%, 90%);
}
#aquarium-1 {
    background-color: hsl(240, 30%, 15%);
}
#aquarium-2 {
    background-color: hsl(210, 50%, 45%);
}
#aquarium-3 {
    background-color: hsl(180, 50%, 65%);
}
#aquarium-4 {
    background-color: hsl(180, 30%, 85%);
}
*/ 


/* 10. SPECIFIC FONTS */ 
.italic {
    font-style: italic;
}
.bold {
    font-weight: 600 ;
} 
.playfair-display {
    font-family: "Playfair Display";
    font-size: 1.1rem;
}
.cormorant {
    font-family: "Cormorant";
    font-size: 1.3rem;
}
.raleway {
    font-family: "Raleway";
    font-size: 1.1rem;
}
.noto-sans-display {
    font-family: "Noto Sans Display";
    font-size: 1.1rem;
}